.card {
    width: 300px;
    padding: 10px;
    background-color: rgb(184, 220, 250);
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transform: scaleX(1);

    &:hover,
    :focus {
        transform: scale(1.1);
    }

    &__servicer {
        font-size: large;
        font-weight: 700;
        margin: 0;
    }

    &__description {
        margin: 0;
        margin-bottom: 10px;
    }

    &__interest {
        margin: 0;
    }

    &__principal {
        margin: 0;
    }
}
