/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * ww.lever.com.au (monthly pageviews: <50K)
 *
 */

/* complete */

@font-face {
  font-family: "CircularXX";
  font-weight: normal;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  font-weight: normal;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  font-weight: bold;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXX";
  font-weight: bold;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  font-weight: 500;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  font-weight: 500;
  font-style: normal;
  src: url("/sfonts/CircularXXWeb-Medium.woff2") format("woff2");
  font-display: swap;
}

/* subset */

/* @font-face {
  font-family: "CircularXXSub-RegularSubset";
  src: url("/sfonts/CircularXXSub-RegularSubset.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-RegularSubset";
  src: url("/sfonts/CircularXXSub-RegularSubset.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BoldSubset";
  src: url("/sfonts/CircularXXSub-BoldSubset.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BoldSubset";
  src: url("/sfonts/CircularXXSub-BoldSubset.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumSubset";
  src: url("/sfonts/CircularXXSub-MediumSubset.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumSubset";
  src: url("/sfonts/CircularXXSub-MediumSubset.woff") format("woff");
} */
