.WrapMyCalendar {
  /* border:1px solid red; */
  position: absolute;
  left: 0px;
  /* top: 60px; */
  width: 100%;
  background: white;
  z-index: 10;
}

/* .WrapMyCalendarBottom{
    border:1px solid red;
    position: absolute;
    left: 0px;
    bottom: 60px;
    width: 100%;
} */

.react-calendar {
  border: none !important;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;

  margin: auto;
  /* top: 60px; */
  max-width: initial;
  width: 100% !important;
  left: 0;
}

.react-calendar .react-calendar__navigation {
  margin-bottom: 10px;
}

.react-calendar__navigation .react-calendar__navigation__label span {
  /* border: 1px solid red; */
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
  color: #17141f;
}

.react-calendar__viewContainer
  .react-calendar__month-view__weekdays
  .react-calendar__month-view__weekdays__weekday {
  /* border: 1px solid red; */
  padding: 0;
  margin-bottom: 10px;
}

.react-calendar__viewContainer
  .react-calendar__month-view__weekdays
  .react-calendar__month-view__weekdays__weekday
  abbr {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #17141f;
  opacity: 0.5;
  text-decoration: none;
  text-transform: initial;
}

.react-calendar__month-view .react-calendar__month-view__days button {
  padding: 0;
  height: 45px;
  color: #17141f;
  background: white;
}

/* .react-calendar__month-view 
.react-calendar__month-view__days__day--weekend
 button{
    color:red;
} */

.react-calendar .react-calendar__tile--now {
  border: 2px solid #3c5fed;
  background: linear-gradient(
    132.32deg,
    #5f7df1 4.26%,
    #3055ec 100%
  ) !important;
  border: none;
  border-radius: 8px;
}


.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile--active:enabled:focus {
  border: 2px solid #3c5fed;
  background: white !important;
  border-radius: 8px;
}

.react-calendar .react-calendar__tile--now:enabled:focus,
.react-calendar .react-calendar__tile--now:enabled:hover {
  background: grey !important;
}

.react-calendar .react-calendar__tile--active {
  border: 2px solid #3c5fed;
  background: white !important;
  border-radius: 8px;
}

.react-calendar__month-view .react-calendar__month-view__days button:disabled {
  opacity: 0.5;
}



div.react-calendar__month-view__days > button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day > abbr{
  color: white;
}